@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

:root {
  --orange: #ee6352;
  --blue: #3fa7d6;
  --esmerald: #59cd90;
  --yellow: #fac05e;
  --salmon: #f79d84;
}
body {
  margin: 0;
  font-family: "Abel", sans-serif !important;
  font-size: 26px !important;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.color-nav {
  background-color: var(--esmerald);
}

.nav-link {
  color: white !important;
}

.active {
  font-weight: bold !important;
  color: mediumslateblue !important;
}
